
  .container-div-default{
    margin-top: 4rem;
    margin-left: 27rem;
   
    border-radius: 0.3rem;
  }

  .header-div-default {
    height:4.5rem;
    width: 112rem;
    padding: 1rem;
    background-color: var(--color-primary-lighter);
    font: 500 2rem Roboto ;
    color: var(--color-grey-light);
  }

  .body-resume-div-default {
    padding: 1rem;
    height:10.2rem;
    width: 112rem;
    overflow: hidden;
    border: 1px solid var(--color-primary-lighter);
    line-height: 23px;
    letter-spacing: 0.02em;
    
  }
  .body-resume-div-default:focus{
    height:43rem;
    overflow: visible;
  }

  .header-discussion-div {
    border: 1px solid var(--color-primary-lighter);
    width: 112rem;
  }

  .header-discussion-div .title{
    color: var(--color-primary);
    width: 112rem;
    display: flex;
    justify-content: center;
    font: 900 1.2em ROboto;
    padding-top: 1rem;
  }

  .header-discussion-div .input-title{
    color: var(--color-brown-dark);
    width: 112rem;
    display: flex;
    justify-content: center;
    font: 100 1em Roboto;
    padding-top: 1rem;
  }

   .header-discussion-div .primary-title{
    font: 500 2rem Roboto;
    color: var(--color-primary);
    margin-left: 0.8rem;
    margin: 1rem 2rem;
   }

   .header-discussion-div #subject {
      width: 108rem;
      height: 4rem;
      border: 0.1rem solid var(--color-grey-lighter);
      border-radius: 0.4rem;
      box-sizing: border-box;
      margin-left: 0.8rem;
      margin: 1rem 2rem;
   }

   .header-discussion-div .textarea {
    width: 108rem;
    height: 14rem;
    border: 0.1rem solid var(--color-grey-lighter);
    border-radius: 0.3rem;
    box-sizing: border-box;
    margin-left: 0.8rem;
    margin: 1rem 2rem;
 }

 .header-discussion-div .footer-textarea {
  width: 107.9rem;
  height: 3rem;
  border: 0rem solid var(--color-grey-lighter);
  background-color:var(--color-white-dark);
  box-sizing: border-box;
  bottom: 0;
  margin-top: 11rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-discussion-div .footer-textarea .boldital img {
  padding:1rem 2rem;
  
}
.header-discussion-div .waiting-feedback {
  display: flex;
  flex-direction: column;
}
.header-discussion-div .waiting-feedback span{
  padding:2rem;
}

.header-discussion-div .discover-others {
    color: var(--color-primary-half);
    text-decoration: underline;
    align-self: center;
}

.header-discussion-div .footer-textarea button {
  background: linear-gradient(180deg, var(--color-primary-to-gradiente) 0%, var(--color-primary-side) 100%);
  width: 20rem;
  border: none;
  color: var(--color-background);
  
}



  .header-discussion-div .icons{
    display: flex;
    justify-content: center;
    
  }
  .header-discussion-div .icons img{
    margin: 3rem;
  }

.header-discussion-div .word-wrap span {
  display: flex;
  justify-content: center;
  padding: 0.3rem;
  font: 300 1.5rem Roboto;
  color: var(--color-grey-light);
}
