
.grid {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
      "side-nav page-header page-header" 
      "side-nav  content content" 
      "side-nav  footer footer" 
      /1fr 3fr;
     
  }
  ​  ​
  .margin {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 50px;
  }
    ​
  .content {
    grid-area: content;
  
  }
  .page-header {
    grid-area: page-header ;
  
  }
  ​
  .side-nav {
    grid-area: side-nav;
  }
  ​
  .footer {
    grid-area: footer;  
  }

  .div-create {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  hr {
      border-color: var(--color-primary-lighter);
      opacity: 0.2;
  }
 